<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>日记备份</title>
    <link rel="stylesheet" href="/css/bulma.min.css">
    <link rel="stylesheet" href="/icons/css/font-awesome.min.css">
</head>
<body>

<section class="hero">
    <div class="hero-body">
        <div class="container is-max-desktop">
            <img src="/images/animate_bird.gif">
            <div class="tile is-ancestor">
                <div class="tile is-parent is-vertical is-7">
                    <div class="tile is-child hero-body">
                        <div class="content"
                             title="One touch backup. No registration required, login with your timepill account. Delete data immediately after the download is complete.">
                            <h2>一键备份胶囊日记</h2>
                            <h2>无需注册，使用胶囊账号与密码登陆</h2>
                            <p>下载完成后立即删除用户数据</p>
                            <a class="button is-black " style="width: 70px;height: 35px;" href="/login">登陆</a>
                            <a class="button is-black " style="width: 70px;height: 35px;" href="/notices">指南</a>
                        </div>
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="tile is-child hero-body is-paddingless">
                        <img style="width: 380px;" src="/images/photographer-mountains-catches-a-shot.gif">
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
</body>
</html>