<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>胶囊备份</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bulma.min.css"/>
    <link rel="stylesheet" href="/icons/css/font-awesome.min.css"/>

</head>
<body>
<section class="section">
    <div class="container is-max-desktop" style="max-width: 680px;">
        <div class="content">

            <figure class="is-marginless">
                <img src="/images/3d-flame-man.png">
            </figure>
            <br>
            <br>
            <br>
            <article>
                <div style="text-align: center; font-size: 18px;">
                    <span th:text="${msg}">提示</span>
                    <br/>
                    <br/>
                    <p><a href="javascript:window.opener=null;window.open('','_self');window.close();"><span
                            class="icon"><i class="fa fa-close"></i></span> &nbsp;关闭</a></p>
                </div>
            </article>
            <br>
            <br>
            <br>

        </div>
    </div>
</section>
</body>
</html>
