<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>使用指南</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bulma.min.css"/>
    <link rel="stylesheet" href="icons/css/font-awesome.min.css"/>

<body>
<section class="section">
    <div class="container is-max-desktop">
        <div class="content">

            <h3><span class="icon"><i class="fa fa-cube"></i></span> &nbsp;使用指南</h3>
            <ul>
                <li>基于胶囊开放接口，无需注册，使用胶囊的账号与密码登录。</li>
                <li>用户数据会在备份文件下载完毕后立即删除。</li>
                <li>所见即所得，下载的备份文件和本站页面UI相同。</li>
                <li>备份文件的解压密码是你的胶囊账号。</li>
            </ul>

            <h3><span class="icon"><i class="fa fa-cube"></i></span> &nbsp;联系方式</h3>
            <p>&nbsp;&nbsp;&nbsp;使用过程中碰到异常，请邮件：admin@91run.club</p>

            <h3><span class="icon"><i class="fa fa-cube"></i></span> &nbsp;更新日志</h3>
            <ul>
                <li>2022-11-09 &nbsp;&nbsp;&nbsp;&nbsp;添加数字证书，加密数据传输。优化UI，修复无法获取到所有日记的异常
                </li>
                <li>2022-11-11 &nbsp;&nbsp;&nbsp;&nbsp;增加邮件通知，压缩文件添加密码</li>
                <li>2022-11-14 &nbsp;&nbsp;&nbsp;&nbsp;日志详情页更新UI、增加统计信息。下载逻辑优化</li>
                <li>2022-11-17 &nbsp;&nbsp;&nbsp;&nbsp;一键生成长图（受限于浏览器，手机端无法生成过长的图文）</li>
                <li>2022-11-20 &nbsp;&nbsp;&nbsp;&nbsp;更新UI，日记本按年份统计和分组，增加年份导航条</li>
                <li>2022-12-07 &nbsp;&nbsp;&nbsp;&nbsp;若为手机号登陆，下载时需补充邮箱</li>
                <li>2022-12-10 &nbsp;&nbsp;&nbsp;&nbsp;更新域名为: moya.run</li>
                <li>2023-05-12
                    &nbsp;&nbsp;&nbsp;&nbsp;5分钟内准备完毕，直接下载；5分钟后准备完毕，才发送邮件通知。点击链接下载文件需要输入取件码。
                </li>
                <li>2023-06-05
                    &nbsp;&nbsp;&nbsp;&nbsp;取消邮件提醒，实时显示下载进度（任务剩余数量），下载完毕后可输入意见或评价
                </li>
                <li>2023-06-07 &nbsp;&nbsp;&nbsp;&nbsp;GA-1.0 稳定版本发布，代码即将开源</li>
                <li>2023-06-09 &nbsp;&nbsp;&nbsp;&nbsp;针对手机浏览器备份做出优化</li>
                <li>2023-10-15 &nbsp;&nbsp;&nbsp;&nbsp;代码开源</li>
                <li>2023-10-29 &nbsp;&nbsp;&nbsp;&nbsp;升级至 JDK17、Shiro 替换为 Spring-Security、Spring-boot 升级至
                    3.1.5、生成 GraalVM Native Image，即独立的可执行文件，双击执行后自动运行服务
                </li>
            </ul>
            <h3><p><a href="javascript:history.back();"><span class="icon"><i class="fa fa-arrow-left"></i></span>
                &nbsp;返回</a></p></h3>
        </div>
    </div>
</section>
</body>
</html>
