<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>日记备份</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bulma.min.css"/>
    <link rel="stylesheet" href="css/bulma-timeline.min.css"/>

    <script type="text/javascript" src="icons/js/all.min.js"></script>
    <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
</head>
<style>

    html {
        background-color: #f5f5f5;
    }

    .to-top-button {
        width: 10px;
        position: fixed;
        bottom: 10px;
    }

    .to-top-icon {
        font-size: 24px;
        color: #fafafa;
    }

    .card-background {
        width: 100%;
    }

    .card-background:not(:last-child) {
        border-bottom: 1px dashed #ddd;
    }

    a {
        color: #4a4a4a;
    }

    .card, .box {
        border-radius: 1px;
    }

    .heading {
        margin-bottom: unset !important;
    }

    .subtitle, .heading {
        font-weight: bold;
    }

    .year-category-title {
        border-bottom: 1px dashed #ddd;
        /*border-top: 1px dashed #ddd;*/
        font-weight: bold;
    }

    .hero {
        background-color: white;
    }

    .breadcrumb > ul {
        border-bottom-style: none;
        background-color: white;
        padding-top: 12px;
        padding-bottom: 6px;
    }

    .timeline .timeline-item .timeline-content {
        padding: 1em 0 0 1em;
    }

    .tag:not(body) {
        border-radius: 2px;
        height: 2.2em;
        background-color: #7a7a7a;
    }

    .section {
        padding: 1.5rem 1.5rem;
    }

    .tile.is-vertical > .tile.is-child:not(:last-child) {
        margin-bottom: 0.75rem !important;
    }

    .navbar-item, .navbar-link {
        color: #7a7a7a;
    }

</style>
<script type="text/javascript">

    var count = 1;
    $(document).ready(function () {

        $(".navbar-burger").click(function () {

            count++ % 2 ? $(".navbar-item-toggle").show() : $(".navbar-item-toggle").hide();
            $(".navbar-burger").toggleClass("is-active");
            $(".navbar-menu").toggleClass("is-active");
        });


        //首先将#btn隐藏
        $("#btn").hide();
        //当滚动条的位置处于距顶部50像素以下时，跳转链接出现，否则消失
        $(function () {
            $(window).scroll(function () {
                if ($(window).scrollTop() > 50) {
                    $("#btn").fadeIn(200);
                } else {
                    $("#btn").fadeOut(200);
                }
            });
            //当点击跳转链接后，回到页面顶部位置
            $("#btn").click(function () {
                $('body,html').animate({
                        scrollTop: 0
                    },
                    500);
                return false;
            });
        });

    });

</script>
<body>

<section class="hero is-medium">
    <div class="hero-head">
        <nav class="navbar has-shadow " role="navigation" aria-label="main navigation">
            <div class="container is-max-desktop">
                <div class="navbar-brand">
                    <a class="navbar-item">
                        <img src="images/moya_cartoon_70.png" alt="Logo">
                    </a>
                    <span class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navMenu" class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item is-flex" title="退出">
                            <span class="icon">
                                <i class="fa-solid fa-sign-out"></i>
                            </span>
                            <span>退出</span>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</section>

<section class="section" style="background-color: #f5f5f5;">
    <div class="container is-max-desktop">


        <div class="tile is-ancestor">
            <div class="tile is-1" th:remove="${notebookMap.size()} == 1 ? all">
                <div class="tile is-parent is-vertical" style="padding: .75rem 0;">
                    <div>
                        <div>
                            <div class="timeline" style="position: fixed;z-index: 10000;">

                                <div th:each="notebookOfYear : ${notebookMap}">
                                    <header class="timeline-header">
                                        <a class="tag is-dark" th:href="'#' + ${notebookOfYear.getYear()}"
                                           th:text="${notebookOfYear.getYear()}">
                                        </a>
                                    </header>
                                    <div class="timeline-item timeline-line"></div>
                                </div>
                                <header class="timeline-header">
                                    <a class="tag is-dark" href="javascript:scrollTo(0,0);">顶&nbsp;部</a>
                                </header>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tile is-vertical is-parent"
                 th:attrappend="class=${notebookMap.size()} == 1 ? ' is-9' : ' is-8'">

                <!-- 统计数据 -->
                <div class="tile is-child box is-shadowless"
                     th:style="'background-image: url(images/' + ${backgroudImg} + ');'">
                    <!--<div class="tile is-child box is-shadowless" style="background-color: white;background-image: url(../images/15.png);">-->
                    <nav class="level is-mobile">
                        <div class="level-item has-text-centered">
                            <div>
                                <p class="heading">年龄</p>
                                <p class="subtitle" th:text="${homePageVO.getUserData().getAge()} + '/岁'">3/岁</p>
                            </div>
                        </div>
                        <div class="level-item has-text-centered">
                            <div>
                                <p class="heading">日记本</p>
                                <p class="subtitle" th:text="${homePageVO.getUserData().getNotebookNum()} + '/本'">
                                    12/本</p>
                            </div>
                        </div>
                        <div class="level-item has-text-centered">
                            <div>
                                <p class="heading">过期</p>
                                <p class="subtitle" th:text="${homePageVO.getUserData().getExpiredNum()} + '/本'">
                                    3/本</p>
                            </div>
                        </div>
                        <div class="level-item has-text-centered">
                            <div>
                                <p class="heading">私密</p>
                                <p class="subtitle" th:text="${homePageVO.getUserData().getPrivateNum()} + '/本'">
                                    12/本</p>
                            </div>
                        </div>
                    </nav>
                </div>

                <!-- 按年份倒序排列的日记本 -->
                <div class="tile is-child box is-shadowless" th:each="notebookOfYear : ${notebookMap}">
                    <div class="columns year-category-title" th:id="${notebookOfYear.getYear()}">
                        <div class="column is-inline-flex">
                            <span class="icon">
                              <i class="fa-solid fa-paperclip"></i>
                            </span>
                            <span th:text="${notebookOfYear.getYear() + '年的日记本'}"></span>
                            <sup th:text="'[' + ${notebookOfYear.getNoteBooks().size()} + ']'"></sup>
                        </div>
                    </div>
                    <div class="columns is-multiline"
                         style="display: grid; grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));">

                        <div class="column" style="" th:each="notebook:${notebookOfYear.getNoteBooks()}">

                            <div class="card" style="width: 130px; margin: 0 auto; border-radius: unset;">
                                <div class="card-image">
                                    <a class="image is-4by3" th:href="'notebooks/' + ${notebook.getId()} + '.html'"
                                       target="_blank" title="查看日记本">
                                        <img style="border-radius: unset;" th:src="${notebook.getCoverImgSrc()}">
                                    </a>
                                </div>
                                <div class="card-content" style="padding: 0rem 0; border-radius: unset">
                                    <div class="filed has-text-centered" style="height: 47px; font-size: 14px">
                                        <a target="_blank" th:href="'notebooks/' + ${notebook.getId()} + '.html'"
                                           th:text="${notebook.getName()}">日记本名称</a>
                                    </div>

                                    <div class="filed has-text-centered">
                                        <p style="font-size: 12px" th:text="${notebook.getCreateDate()}"></p>
                                        <p style="font-size: 12px" th:text="${notebook.getExpireDate()}"></p>
                                    </div>

                                </div>
                            </div>
                            <br>
                            <div class="filed has-text-centered" style="font-size: 14px;">
                                <span th:text="${notebook.isToPublic() ? '公开' : '私密'}">公开</span> |
                                <span th:text="${notebook.isHasExpired() ? '过期' : '未过期'}">过期</span> |
                                <a th:href="'/download/html/notebook/' + ${notebook.getId()}" target="_blank">下载</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 个人资料 -->
            <div class="tile is-vertical is-3">
                <div class="tile is-parent is-vertical">
                    <div class="card is-shadowless card-background">
                        <div class="card-content" style="padding: 19px;">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-48x48">
                                        <img style="border-radius: unset;"
                                             th:src="${homePageVO.getUserInfo().getIconImgSrc()}"
                                             alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p th:text="${homePageVO.getUserInfo().getName()}">幸香草凝子</p>
                                    <p class="heading" style="font-weight: unset;"
                                       th:text="${#strings.substring(homePageVO.getUserInfo().getCreated(),0,10)}">
                                        2010-10-09</p>
                                </div>
                            </div>
                            <div class="content">
                                <p class="content" style="white-space: pre-line"
                                   th:text="${homePageVO.getUserInfo().getIntro()}"></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="height: 100%">

                </div>
            </div>
        </div>

    </div>
</section>
</body>
</html>
